@model List<TodoAppUi.Models.Entities.Concrete.TodoList>


<form method="post" asp-controller="Todo" asp-action="Add">



    <div class="col-12">
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="inputGroup-sizing-default">Yeni Bir Görev Ekle</span>
            <input type="text" class="form-control" name="Task" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="Task">
            <input type="hidden" name="Date" value="@DateTime.Now.ToShortDateString()" />


            <button class="btn btn-success" type="submit">Ekle</button>

        </div>

</form>








<table class="table ">
    <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">Görev</th>
            <th scope="col">Öncelik</th>
            <th scope="col">Düzenle</th>
            <th scope="col">Yapıldı Olarak İşaretle</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @foreach (var item in Model)
        {

            <tr>
                <td>@item.Id</td>
                <td>@item.Task</td>
                <td>Öncelik</td>
                <td><button class="btn btn-danger">Sil</button> <button class="btn btn-warning">Düzenle</button></td>
                <td>
                    @*@if (item.IsCompleted)
                {
                <input type="checkbox" onclick="MarkAsComplete(@item.Id)"  checked="checked" />;
                }else
                {
                <input type="checkbox" onclick="MarkAsComplete(@item.Id)"   />;
                }*@
                    @if (item.IsCompleted)
                    {
                        <div class="form-check form-switch justify-content-right">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" checked="checked" onclick="MarkAsComplete(@item.Id) ">
                            <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                        </div>
                    }
                    else
                    {
                        <div class="form-check form-switch justify-content-right">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" onclick="MarkAsComplete(@item.Id) ">
                            <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                        </div>

                    }



                </td>



            </tr>



        }



    </tbody>
</table>
<script>
    function MarkAsComplete(id) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("IsComplete").innerHTML =
                    this.responseText;
                console.log(this.responseText);
            }
        };
        xhttp.open("GET", " https://localhost:7081/todo/MarkAsComplete/" + id, true);
        xhttp.setRequestHeader("Content-Type", "application/json");
        xhttp.send();

    }
</script>
